<!--    header.ejs
        Connor Hall
        portfolio.azurewebsites.net
        The header for every page
    -->
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
  </head>
    <!-- made the body blue cause it looks nice with the navbar -->
  <body class="bg-info" >
      <!-- This is the navbar class to look black and sleek and go all the way across the screen -->
      <nav class="navbar-inverse">
          <!-- unordered list put in tabs so nicely spaced and the list items of the ejs's -->
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/qualities">Qualities</a></li>
            <li><a href="/workexpierence">Work Expierence</a></li>
            <li><a href="/safety">Safety</a></li>
            <li><a href="/volunteerexpierence">Volunteer Expierence</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/Projects">Projects</a></li>
          </ul>
      </nav>