<%- include partials/header.ejs %>

<h1>About</h1>

 <p>My Name is Connor Hall, i am currently studying at georgian college majoring computer programmer. I graduated from Bradford District High School, in Bradford ON. *MORE DETAILS HERE*</p>
    
</body>
</html>