<!--    about.ejs
        Connor Hall
        portfolio.azurewebsites.net
        The about page which is all about me
    -->
<%- include partials/header.ejs %>
<!-- This styled is to make the about me paragraph stand out more and easier to read on the eyes -->
<STYLE>
    p{ border-bottom:1px dotted;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 800px;
    font-size: 20px;}
</STYLE>
<!-- basic header and a paragraph for the about me paragraph -->
<h1>About</h1>

 <p>My Name is Connor Hall, i am currently studying at georgian college majoring computer programmer. I graduated from Bradford District High School, in Bradford ON. Reasons why i wanted to become a computer programmer would be when i started in highschool in a computer science class we programmed with scratch, turing, C++. I was just amazed by how to create programs and i just got the language and since im fairly good at mathematics it was easy, my first expirence for web programming was in college and i was pretty baised towards doing java C++ and such because that all i had learned but now knowing php and html5 i enjoy web programming too. So in the end i just followed up with computer programmer in college because i liked doing it in highschool and it just felt like the one right thing in highshcool.</p>
    
</body>
<%- include partials/footer.ejs %>