<!--    contact.ejs
        Connor Hall
        portfolio.azurewebsites.net
        How to contact me
    -->
<!DOCTYPE html>
<!-- Instead of calling the header here i readded it and gave the first body tag a different colour attribute -->
<html>
  <head>
    <title>Lesson 4</title>
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
  </head>
  <body class="bg-danger">
      
      <nav class="navbar-inverse">
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/qualities">Qualities</a></li>
            <li><a href="/workexpierence">Work Expierence</a></li>
            <li><a href="/safety">Safety</a></li>
            <li><a href="/volunteerexpierence">Volunteer Expierence</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
      </nav>

<h1>Contact</h1>
<!-- classed to pop out more -->
<ul class="lead">
    <li>Email: connor_d_hall@hotmail.com</li>
    <li>Cell Phone: 905-806-6419</li>
    <li>Home Phone: 905-775-0316</li>
</ul>
    
</body>
<%- include partials/footer.ejs %>