<!--    education.ejs
        Connor Hall
        portfolio.azurewebsites.net
        My Education
    -->
<%- include partials/header.ejs %>
<!-- above i include the partials to load in the header then basic stuff i make the css pointers have squares and pop out -->
<h1>Education</h1>

<ul style="list-style-type:square" class="lead">
    <li>Bradford ON, Bradford District High School, Grade 9 - 12, 2009 - 2013</li>
    <li>Barrie ON, Georgian College, Computer Programmer (Co-op), 2013 - present</li>
</ul>
    
</body>
<%- include partials/footer.ejs %>