<%- include partials/header.ejs %>

<h1>Education</h1>

<ul style="list-style-type:square">
    <li>Bradford ON, Bradford District High School, Grade 9 - 12, 2009 - 2013</li>
    <li>Barrie ON, Georgian College, Computer Programmer (Co-op), 2013 - present</li>
</ul>
    
</body>
</html>