<!--    error.ejs
        Connor Hall
        portfolio.azurewebsites.net
        What happens when an error occurs
    -->
<!-- brings the pre wrote messeges and applies them when an error is found -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
