<!--    Projects.ejs
        Connor Hall
        portfolio.azurewebsites.net
        The Main Page
    -->
<%- include partials/header.ejs %>
<!-- I centered the main page and made the second line pop out more -->
    <h1><center>Projects</center></h1>
    <li><a href="http://toppings.azurewebsites.net/">Toppings</a></li>
    <li><a href="http://crud-app.azurewebsites.net/">CRUD</a></li>
    <li><a href="http://signinform.azurewebsites.net/">Sign In Form Example</a></li>
    <li><a href="http://tipcalculatorapp.azurewebsites.net/">Tip Calculator</a></li>
    <li><a href="http://errorhandling.azurewebsites.net/">Error Handling Example</a></li>
    <li><a href="http://gamecalculatorapp.azurewebsites.net/">Game Calculator</a></li>


  </body>
<%- include partials/footer.ejs %>