<!--    qualities.ejs
        Connor Hall
        portfolio.azurewebsites.net
        My Qualities
    -->
<%- include partials/header.ejs %>
<!-- put all the qualites in different points and popeed them out more -->
<h1>Qualities</h1>

<ul class="lead">
    <li>Accustomed to different OS’s such as Windows, Mac, Linux, and programs such as Microsoft office, SQL workbench,  and computer languages Java, C++, SQL, PHP, HTML 5.</li>
    <li>Persistent in problem solving and approaching problems from 
different angles.</li>
    <li>Applying learned strategies in an efficient way.</li>
    <li>Able to keep data and instructions organized to accurately complete designated work.</li>
    <li>Continually learning new skills and implementing them in everyday tasks.</li>
    <li>Working and communicating well in groups and bringing different approaches to problems.</li>
    <li>Very creative to come up with different solutions, and communicates to explain why I did that solution and how I came up with it.</li>
    <li>I am confident person who is pleasant to be around, makes for a good team member because I am self-assured, good at motivating others.</li>
    <li>Independent and industrious, I won’t give up until something is done and completed to the standards of the given task.</li>
</ul>
    
</body>
<%- include partials/footer.ejs %>