<!--    safety.ejs
        Connor Hall
        portfolio.azurewebsites.net
        My safety training
    -->
<%- include partials/header.ejs %>
<!-- one css to pop out more  -->
<h1>Safety</h1>

<p class="lead">Worksmart Certificate, Ministry of Labour – Workplace</p>
    
</body>
<%- include partials/footer.ejs %>