<!--    volunteerexpierence.ejs
        Connor Hall
        portfolio.azurewebsites.net
        Where i have volunteered and what i did
    -->
<%- include partials/header.ejs %>

<h1>Volunteer Expierence</h1>
<!-- made this one square and  pop out  -->
<ul style="list-style-type:square" class="lead">
    <li>2012			Assistant Elf, helped kids up and down the stairs to  see 
Santa, constantly directed and communicated with people to form lines and groups, so there was room to move and everything was organized.</li>
    <li>2011 			St. Marie Elementary School, assistant tool shop helper. 
Taught kids how to build using kid safe materials. Only four spots were used per a table so I had to direct kids to open spots at other tables so it was not too crowded, kids would build there toys and if help was needed I would help them and put parts together and keep everything organized so they did not lose parts or stickers making their toy unable to be completed.</li>
    <li>2010                            Junior coach for The Bradford Skating Club’s CanHockey    
class. Helped kids learn how to skate. Had to lead kids on exercises around the rink such as skating around the center circle, make sure they did not go running off and were following, cheer them on and communicate with parents who were dropping their kids off, helped put on skates and hats made sure they were properly prepared to skate on the ice rink and risk free.</li>
</ul>
    
</body>
<%- include partials/footer.ejs %>