<%- include partials/header.ejs %>

<h1>Work Expierence</h1>

<ul>
    <li>Feb 2013 - June 2013	Best Buy, Newmarket ON (High School Co-op)
Worked as an assistant performing tasks such as troubleshooting, problem solving, and cooperative work with other employees. Organization and communication were key to make sure that the jobs needed to open the store had been completed.</li>
    <li>No Frills Present Grocery Department, work with customers, stock shelves, etc.</li>
</ul>
    
</body>
</html>