<!--    workexpierence.ejs
        Connor Hall
        portfolio.azurewebsites.net
        where i have and am working and what i do or did
    -->
<%- include partials/header.ejs %>

<h1>Work Expierence</h1>
<!-- left the usual circles but still pop out more -->
<ul class="lead">
    <li>Feb 2013 - June 2013	Best Buy, Newmarket ON (High School Co-op)
Worked as an assistant performing tasks such as troubleshooting, problem solving, and cooperative work with other employees. Organization and communication were key to make sure that the jobs needed to open the store had been completed.</li>
    <li>No Frills Present Grocery Department, work with customers, stock shelves, etc.</li>
</ul>
    
</body>
<%- include partials/footer.ejs %>